<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/head.css">
</head>

<body>
    <nav>
        <div class="nav ">
            <div class="logo">
                <a href="/"><img src="/image/logo.png" alt=""></a>
            </div>

            <div class="user">
                <h1>Hello</h1>
                <h1> <a href="/admin">Admin</a> </h1>
            </div>
            <div class="search">
                <form action="/search" method="post">
                    <input type="search" class="src" placeholder="search" name="search">
                    <input type="submit" value="Search" id="src-btn">
                </form>
            </div>
          
            <div class="cart">
                
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    
            </div>
        </div>
    </nav>

    
</body>

</html>