.main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cart-items {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: aqua; */
    width: 60%;
    /* background-color: aquamarine; */
    padding: 1%;
}

.cart-bar {
    background-color: aliceblue;
    width: 90%;
    height: 15vh;
    display: flex;
    padding: 0.5%;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    margin: 1%;
}
.cart-bar:hover{
    box-shadow: 0px 10px 42px 0px rgb(88, 202, 255);
}
.del-btn{
    font-size: 1.7rem;
}

.product-img {
    background-color: black;
    height: 98%;
    width: 12%;
}

.product-img img {
    height: 100%;
    width: 100%;
}

.product-data {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* align-items: center; */
    flex-direction: column;
}

.del {
    font-size: 3rem;
}


.next{
    font-size: 2.0rem;
    padding: 1.3rem;
    width: max-content;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 2%;
    background-image: linear-gradient( 90.2deg,  rgba(79,255,255,1) 0.3%, rgba(0,213,255,1) 99.8% );
}
.next:hover{
    text-decoration: none;
    box-shadow: 0px 10px 42px 0px rgb(42, 22, 230);
    color: black;
    font-weight: 700;
   

}

.cart-summary{
    width: 30%;
    height: 20vh;
    /* background-color:  aquamarine; */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );


}
.cart-summ{
    background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
}